// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.context {
  height: 200px !important;
}

label {
  margin-right: 5%;
}

.thred {
  background-color: #efefef !important;
  width: 70%;
}

.created-time {
  font-size: 15px;
}

.total-comment {
  background-color: rgb(143, 143, 248);
}

.new-thred {
  background-color: #CFC !important;
}
